<%- include("partials/header.ejs") %>



<h1>Home page</h1>

<div class="px-4 pt-5 my-5 text-center border-bottom">
     <h1 class="display-4 fw-bold text-body-emphasis">Move it!</h1>
     <div class="col-lg-6 mx-auto">
       <p class="lead mb-4">We offer the best quality services to our custtomers,we believe moving into your new appartment should not be stressfull, so we take our client properties belongings very serious.</p>
       <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
         <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">How to subscrib to!</button>
         <button type="button" class="btn btn-outline-secondary btn-lg px-4">services</button>
       </div>
     </div>
     <div class="overflow-hidden" style="max-height: 30vh;">
       <div class="container px-5">
         <img src="https://picsum.photos/seed/picsum/200/300 " class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
       </div>
     </div>
   </div>


   <div class="container px-4 py-5" id="featured-3">
     <h2 class="pb-2 border-bottom">Columns with icons</h2>
     <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
       <div class="feature col">
         <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
           <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
         </div>
         <h3 class="fs-2 text-body-emphasis">Country Side</h3>
         <p>We take it as a responsibility to serve you better,we provide our clients the best service ever, we are just one call away from reaching out to you, be it nigeria or any other part of the world.</p>
         <a href="#" class="icon-link">
           Call to action
           <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
         </a>
       </div>
       <div class="feature col">
         <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
           <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
         </div>
         <h3 class="fs-2 text-body-emphasis">World wild Services</h3>
         <p>We believe giving our clients the best service will propel and give rome for more developement,and self improvement on our services.</p>
         <p>And we want all our clients around the world to be able to trust us, on the servicewe provide, we dont just provide you services,but the best service one can ever think of.</p>
         <a href="#" class="icon-link">
           Call to action
           <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
         </a>
       </div>
       <div class="feature col">
         <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
           <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
         </div>
         <h3 class="fs-2 text-body-emphasis">Internal and External Services</h3>
         <p>We love the services we are rendering to our clients,we believe what ever that is what doing,means what doing well,so we want you to trust in us .</p>
         <a href="#" class="icon-link">
           Call to action
           <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
         </a>
       </div>
     </div>
   </div>
   
    


<%- include("partials/footer.ejs") %>